@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image1 {
    width: 400px;
    height: auto;
    margin-right: 20px;
}

.image2 {
    width: 400px;
    height: auto;
    margin-left: 20px;
}

#informacao {
    width: 210px;
    margin-bottom: 10px;
}
button[type="submit"] {
    margin-left: 0px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.container {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: black;
    display: flex;
    align-items: center;
    margin: 20px;
    
    @media(max-width:740px){
    }
}

.banner-scss{
    width: 100%;
}

.logo{
    font-family: 'Lora', serif;
    font-size: 20px;
    color: #fff;
    user-select: none;
}

.navigation-a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    padding: 0 20px;
}

header{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    background: #587453;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 1130px;
    padding-left: 120px;
}

#intro{
    position: absolute;
    font-size: 64px;
    width: 471px;
    height: 144px;
    left: 123px;
    top: 198px;
}

#subintro{
    position: absolute;
    font-size: 28px;
    width: 471px;
    height: 144px;
    left: 123px;
    top: 370px;
}

#celular {
    margin-right: 5px;
}

#email {
    margin-right: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#download{
    position: absolute;
    width: 500px;
    height: 20px;
    left: 120px;
    top: 650px; 
}
#app-store{
    position: absolute;
    width: 500px;
    height: 20px;
    left: 70px;
    top: 716px; 
}
#play-store{
    position: absolute;
    width: 500px;
    height: 20px;
    left: 340px;
    top: 700px; 
}

.button.selecionado {
    background-color: #587453;
}
.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    margin: 8%;
}

.balao {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
  
label {
    font-weight: bold;
}
  
input[type="checkbox"] {
    margin-right: 5px;
}
  
button[type="submit"] {
    margin-top: 10px;
}

.sobre{
    margin-top: 140px;
    margin-left: 130px;
}
.fotos{
    margin-left: 85px;
    padding-inline: 20px;
}
.projeto{
    margin-top: 20%;
}
.txtlateral{
    margin-left: 900px;
    margin-top: 100px;
}
.panel{
    left: 400px;
    top: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    width: 342px;
    height: 407px;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
}
.button{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 20px;
    border: 1px solid #587453;
    background-color: transparent;
    color: black;
    cursor: pointer;
    box-shadow: 4px 3px 7px 1px rgba(0, 0, 0, 0.25);
}
.button-enviar{
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 20px;
    border: 1px solid #000000;
    background-color: #587453; 
    color: black;
    cursor: pointer;
    box-shadow: 4px 3px 7px 1px rgba(0, 0, 0, 0.25);
}

#img2{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 900px;
    top: 120px;
}

.login{
    background: #587453;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 30%;
    border-style:inset;
    padding: 6%;
    margin-left: 35%;
    margin-top: 10%;

    .usuario, .senha{
        display: flex;
        flex-direction: column;
        padding: 5%;
    }

    input{
        border-radius: 5px;
    }

    .confirmacao{
        width: 50%;
        border-radius: 5px;
    }

    .confirmacao:hover{
        background-color: rgb(0, 0, 0);
        color: white;
        transition: 1s;
    }
}

.buttonlogout{
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 20px;
    border: 1px solid #000000;
    background-color: #a2b223;
    color: black;
    cursor: pointer;
    box-shadow: 4px 3px 7px 1px rgba(0, 0, 0, 0.25);
}